body{
    width: 1000px;
    height: 800px;
}

.little-box{
    width: 40px;
    height: 40px;
    background-color: skyblue;
    display: block;
    position: absolute;
    bottom: 643px;
    left: 10px;
    margin: 20px;
    padding: 20px;

}

.box1{
    width: 1000px;
    height: 100px; 
    background-color:gray;
    margin: 0;
}

p{
text-align: center;
margin: 70px;
top: 30px;  
padding: 50px;  
font: helvetica;


}
.first-box{
background-color: slateblue;
width: 1000px;
height: 100px;
}
.second-box{
    background-color: mediumaquamarine;
    width: 1000px;
    height: 100px;
}
.third-box{
    background-color: olive;
    width: 1000px;
    height: 100px;
}
.last-box{
    background-color: yellowgreen;
    width: 1000px;
    height: 100px;
}