
body{
    margin: 0;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}

.center{
    width: 1300px;
    height: 20vh;
    background-color: black;

}

.middle-box{
    background-color:gray;
    width: 50%;
    height: 70vh;
    padding: 20px;
    position: relative;
}

.middle-box2{
    background-color:gray;
    width: 50%;
    height: 70vh;
    padding: 20px;
    position: relative;
    left: 1200px;
    bottom: 74.95vh;
}



.small-box{
  background-color: black;
  margin-left: 100px;
  width: 1100px;
  height: 10vh;
  bottom: 80vh;
  position: relative;
}

